.name {
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 50px;
    background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #e052e0 50%, #9952e0 75%, #e05252 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
}

